<body class="landing-page sidebar-collapse">
   
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/profile_city.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="title">Hey, I am Suman Ghosh</h1>
            <h4>I'm an aspiring Front-End Developer. </h4>
            <br>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
              <i class="fa fa-play"></i> Watch my work
            </a>
          </div>
        </div>
      </div>
    </div>
   
  
    
  </body>